.mobile {
  display: none;
}

.mobna {
  display: none;
}

aside {
  top: 0px;
  left: 0px;
  overflow-y: scroll;
  min-width: 120px;
}

.col-1 {
  position: fixed;
}

.col-10 {
  margin-left: 150px;
}

#sec1 {
  padding-top: -60px;
}

.part1 {
  display: flex;
  justify-content: space-around;
}

.o2 {
  outline: none;
  border: none;
  background-color: white;
  margin-top: 20px;
  margin-right: 20px;
}

.o3 {
  outline: none;
  border: none;
  background-color: white;
  margin-top: 20px;
}

.o4 {
  outline: none;
  border: none;
  background-color: white;
  margin-top: 20px;
}

.login {
  outline: none;
  border: none;
}

.login:hover {
  background-color: ghostwhite;
  border-radius: 5px;
}

.creat {
  border: 1px solid blue;
  border-radius: 5px;
  background-color: white;
  color: blue;
}

.creat:hover {
  background-color: skyblue;
}

.edot {
  display: flex;
  margin-top: 40px;
}

.dot {
  color: blue;
  width: 4px;
  z-index: 0;
  border: 1px solid blue;
  border-radius: 10px;
  height: 4px;
  margin-top: 20px;
  background-color: blue;
  margin-left: 50px;
}

.vov {
  display: none;
}

.sed {
  width: 600px;
  height: 450px;
  border-radius: 100% 100%;
  background-color: rgba(208, 208, 238, 0.37);
  position: absolute;
  top: 200px;
  right: 40px;
  z-index: -1;
}

.start {
  background-color: blue;
  padding: 10px 30px;
  color: white;
  margin-top: 50px;
}

.part1 {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}

.every {
  width: 500px;
  text-align: center;
  margin-top: -60px;
  margin-bottom: 60px;
}

.imp {
  display: flex;
  margin-left: 150px;
  margin-top: 30px;
}

.im1, .im2, .im3 {
  border: 2px solid blue;
  width: 200px;
  text-align: center;
  margin-top: 20px;
  border-radius: 5px;
  padding-top: 20px;
  margin-left: 20px;
  z-index: 1;
  background-color: white;
}

.im1:hover, .im2:hover, .im3:hover {
  box-shadow: 1px 1px 6px gray;
}

.secdot {
  position: relative;
  top: -200px;
}

.smm {
  display: flex;
  margin-top: 30px;
  margin-left: 600px;
}

.founder {
  margin-top: -100px;
  /* overflow-x: scroll; */
  /* overflow-y: hidden; */
}

.founder p {
  font-size: 15px;
}

.level1 {
  width: 500px;
  border: 1px solid gray;
  padding: 30px;
  height: 300px;
  margin-left: 15px;
  border-radius: 5px;
}

.qui {
  margin-top: -40px;
  margin-left: 45px;
}

.level1 img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.fon {
  margin-top: -15px;
  margin-left: 45px;
  font-size: 20px;
}

.full :hover {
  background-color: gray;
}

#what {
  margin-top: 120px;
  margin-left: 50px;
}

#what p {
  width: 300px;
  font-size: 20px;
}

.key {
  margin-top: 100px;
  margin-left: 70px;
}

#benefit {
  margin-top: 70px;
  margin-left: 50px;
}

#benefit p {
  width: 250px;
  font-size: 15px;
}

.secdot2 {
  margin-top: 120px;
  position: relative;
  top: 0px;
}

.sm2 {
  display: flex;
  margin-top: 30px;
}

.cir {
  width: 600px;
  height: 450px;
  border-radius: 100% 100%;
  background-color: rgba(208, 208, 238, 0.37);
  margin-top: -300px;
  z-index: -1;
}

.cir2 {
  width: 600px;
  height: 450px;
  border-radius: 100% 100%;
  background-color: rgba(208, 208, 238, 0.37);
  margin-top: -300px;
  z-index: -1;
  transform: rotate(130deg);
}

.comes {
  margin-top: -300px;
  margin-left: 50px;
}

.myy {
  margin-left: 30px;
}

#omm {
  width: 270px;
  margin-left: 20px;
}

.vh {
  border-radius: 5px;
  color: white;
  font-size: 20px;
}

.bloger {
  border-radius: 100px;
  width: 100px;
}

.bloger1 {
  width: 200px;
  margin-top: -100px;
  margin-left: 120px;
}

.bloger2 {
  color: grey;
  margin-left: 120px;
}

.bloger2:hover {
  text-decoration: none;
  color: black;
}

.bloger3 {
  margin-left: 120px;
  width: 300px;
}

@media screen and (max-width: 700px) {
  /* .body {
    width: 100%;
    height: 100%;
  } */
  .cc{
    /* margin-top: 30px; */
    display: inline;
  }

  .mobile {
    display: inherit;
  }

  .mobna {
    position: sticky;
    top: 0px;
    justify-content: space-between;
    display: flex;
    /* box-shadow: 0px 0px 4px gray; */
  }

  .edot {
    display: flex;
    width: 5px;
    height: 10px;
    margin-left: -200px;
  }

  .dot {
    color: blue;
    width: 2px;
    z-index: 0;
    border: 1px solid blue;
    border-radius: 5px;
    height: 2px;
    margin-top: 5px;
    background-color: blue;
  }

  .every {
    width: 400px;
    text-align: center;
    margin-top: -100px;
    margin-bottom: 60px;
    margin: auto;
    margin-left: -100px;
  }

  .vov {
    display: inherit;
    border-radius: 5px;
    margin-top: 40px;
  }

  .col-1 {
    display: none;
  }

  .part1 {
    display: none;
  }

  .imp {
    flex-wrap: wrap;
    margin-left: -150px;
    margin-top: 30px;
  }

  .im1, .im2 {
    border: 2px solid blue;
    width: 200px;
    height: 150px;
    text-align: center;
    margin-top: 20px;
    border-radius: 10px;
    padding-top: 20px;
    z-index: 1;
    background-color: white;
  }

  .im3 {
    margin: auto;
    margin-top: 30px;
    border-radius: 10px;
  }

  .im1:hover, .im2:hover, .im3:hover {
    box-shadow: 1px 1px 6px gray;
  }

  .founder {
    overflow-x:scroll;
    margin-top: 100px;
    margin-left: -100px;
    
    
    /* display: flex; */
  }
  .zm{
    display: flex;
    width: 1000px;
  }

  .founder p {
    font-size: 10px;
    /* display: none; */
  }

  
 

  .level1 {
    width: 300px;
    border: 1px solid gray;
    padding: 30px;
    /* margin-left: 15px; */
    border-radius: 5px;
    font-size: 15px;
    /* display: none; */
  }

  .qui {
    margin-top: -40px;
    margin-left: 45px;
    /* display: none; */
  }

  .level1 img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    /* display: none; */
  }

  .fon {
    margin-top: -15px;
    margin-left: 45px;
    font-size: 20px;
    /* display: none; */
  }

  .full {
    margin-left: -20%;
  }

  #what {
    margin-top: 120px;
    margin-left: -100px;
  }

  .oll {
    font-size: 30px;
  }
  .bvb{
    margin-left: -30px;
  }

  .oll2 {
    width: 60px;
    height: 60px;
    margin-left: -10px;
    margin-top: -20px;
  }

  #what img {
    width: 35px;
  }

  #what p {
    width: 400px;
    font-size: 18px;
  }

  .key {
    margin-top: 70px;
    margin-left: -100px;
    font-size: 30px;
  }

  #benefit {
    margin-top: 70px;
    margin-left: -100px;
  }

  .zz {
    margin-top: 70px;
    margin-left: -100px;
  }

  .zz img {
    margin-top: -70px;
    margin-left: -50px;
  }

  .bb {
    width: 300px;
  }

  .zz p {
    width: 400px;
  }

  .zy {
    margin-top: 500px;
    margin-left: -230px;
  }

  .zy p {
    width: 400px;
  }

  .zw {
    margin-top: 1000px;
    margin-left: -230px;
  }

  .zw p {
    width: 400px;
  }

  #benefit p {
    width: 300px;
    font-size: 15px;
    margin-left: -70px;
  }
/* .nbn{
  margin-left: 50px;
}
.nbn1{
  margin-left: 60px;
} */
  #sec1 {
    padding-top: -60px;
    display: none;
  }

  .oboy1 {
    display: none;
  }

  .sed {
    width: 250px;
    height: 300px;
    border-radius: 100% 100%;
    background-color: rgba(208, 208, 238, 0.37);
    position: absolute;
    top: 80px;
    right: 80px;
    z-index: -1;
  }

  .start {
    background-color: blue;
    padding: 10px 30px;
    color: white;
    margin-top: 50px;
    display: none;
  }

  .part1 {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    display: none;
  }

  .secdot {
    position: relative;
    top: 20px;
    right: 200px;
    display: none;
  }

  .smm {
    display: flex;
    margin-top: 30px;
    display: none;
  }

  .full :hover {
    background-color: gray;
    display: none;
  }

  .secdot2 {
    margin-top: 120px;
    position: relative;
    top: 0px;
    display: none;
  }

  .sm2 {
    display: flex;
    margin-top: 30px;
    display: none;
  }

  .cir {
    width: 600px;
    height: 450px;
    border-radius: 100% 100%;
    background-color: rgba(208, 208, 238, 0.37);
    margin-top: -300px;
    z-index: -1;
    display: none;
  }

  .cir2 {
    width: 300px;
    height: 250px;
    border-radius: 100px 100px;
    background-color: rgba(208, 208, 238, 0.37);
    margin-top: -300px;
    z-index: -1;
    transform: rotate(130deg);
    /* display: none; */
  }

  .comes {
    margin-top: 30px;
    margin-left: -120px;
    width: 400px;
    /* display: none; */
  }
  .cmc{
    display: block;
    background-color: white;
    border: none;
    width: auto;
    outline: none;
   margin-left: -100px;
   box-shadow: none;

  }
  /* .cmd1{
    width: 200px;
    
    margin-left: 20px;

  } */
  .cmd{
    margin-left: -50px;
    width: 400px;
  }
  .kmk{
    display: block;
    border: none;
    outline: none;
    margin-left: -50px;
    display:inline-block;
  }
  .kmk1{
    display:inline-bloc;
    
  }

  .myy {
    margin-left: 30px;
    flex-wrap: wrap;
  }

  #omm {
    width: 270px;
    margin-left: 20px;
    display: none;
  }

  .vh {
    border-radius: 5px;
    color: white;
    font-size: 20px;
    padding: 10px;
    margin-left: -100px;
    /* display: none; */
  }
  .oboy{
    width: 450px;
    margin-left: -150px;
    margin-top: 50px;
  }

  .bloger {
    border-radius: 100px;
    width: 100px;
    /* display: none; */
  }
  .bnbv{
   display: block;
  }

  .bloger1 {
    width: 200px;
    margin-top: -100px;
    margin-left: 120px;
    /* display: none; */
  }

  .bloger2 {
    color: grey;
    margin-left: 120px;
    /* display: none; */
  }

  .bloger2:hover {
    text-decoration: none;
    color: black;
    /* display: none; */
  }

  .bloger3 {
    margin-left: 120px;
    width: 300px;
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
